# Hands-On

Hands-On ini digunakan pada kegiatan Workshop Data Science 2022, Universitas Gunadarma

# Pertemuan 5

Pertemuan 5 (lima) pada  Workshop Data Science 2022, Universitas Gunadarma menyampaikan materi mengenai Mengumpulkan Data, Menelaah Data dengan metode Statistik

# Pengambilan Data dari API Kaggle
---
Salah satu portal yang menyediakan dataset untuk project Data Science adalah Kaggle (https://www.kaggle.com/).
Pada latihan ini, silakan peserta mengunduh dataset mengenai bunga Iris dengan menggunakan kata kunci: "iris species" yang disediakan oleh UCI Machine Learning (UCIML)

**1. Install Modul kaggle:**

In [3]:
# Install modul kaggle secara inline (di dalam notebook)
!pip install kaggle

Requirement already satisfied: kaggle in c:\programdata\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle) (6.1.2)
Requirement already satisfied: certifi in c:\users\alfha\appdata\roaming\python\python38\site-packages (from kaggle) (2020.12.5)
Requirement already satisfied: six>=1.10 in c:\users\alfha\appdata\roaming\python\python38\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in c:\users\alfha\appdata\roaming\python\python38\site-packages (from kaggle) (2.25.1)
Requirement already satisfied: urllib3 in c:\users\alfha\appdata\roaming\python\python38\site-packages (from kaggle) (1.26.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alfha\appdata\roaming\python\python38\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\alfha\appdata\roaming\python\python38\site-packages (from requests->kaggle) (4.0.0)

In [ ]:
# Install modul kaggle secara eksternal melalui anaconda prompt:

![image.png](attachment:image.png)

**2. Create Token API kaggle:**

![image.png](attachment:image.png)

1. Login Kaggle.com 
2. Kemudian pada menu Profile --> Account
3. Klik Create New Api Token 
4. Maka akan terdownload file kaggle.json

![image.png](attachment:image.png)

Kaggle API secara default mengasumsikan bahwa file kaggle.json tersebut berada di dalam folder: 
* ~/.kaggle/ (Linux/Mac)  
* C:\Users\<Windows-username>\.kaggle\ (Windows)

Jika folder tersebut belum ada:
1. Buat folder di direktori C:\Users\<Windows-username>\.kaggle\
2. letakkan file kaggle.json kedalam folder tersebut

**3. Download Dataset dari Kaggle:**

![image.png](attachment:image.png)
<div class="text-center">
    Dokumentasi Kaggle Commands selengkapnya <a href="https://github.com/Kaggle/kaggle-api#datasets">Disini</a>
</div>

In [4]:
# Mencari dataset yang tersedia di kaggle --> pilih data provider dari UCIML
!kaggle datasets list -s "Iris Species"

ref                                                       title                                           size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------  ---------------------------------------------  -----  -------------------  -------------  ---------  ---------------
uciml/iris                                                Iris Species                                     4KB  2016-09-27 07:38:05         301938       3032  0.7941176
arshid/iris-flower-dataset                                Iris Flower Dataset                            1010B  2018-03-22 15:18:06          61736        483  0.8235294
arslanali4343/iris-species                                Iris Species                                     2KB  2020-07-02 06:09:09            104         14  0.5625
vikrishnan/iris-dataset                                   Iris Dataset                                    999B  2017-08-03 16:00:44           4638         36  0.7647059
olgabelitskaya/flower-color-images                        Flower Color Images                             50MB  2020-10-01 22:48:07          10453        179  0.75
rtatman/iris-dataset-json-version                         Iris Dataset (JSON Version)                      1KB  2018-04-06 20:21:31           8237         53  0.75
jillanisofttech/iris-dataset-uci                          Iris dataset uci                                 1KB  2021-11-06 15:11:47            209         20  1.0
smritisingh1997/species-segmentation-using-iris-dataset   Species Segmentation using Iris dataset         896B  2020-05-13 20:44:51            121          6  0.7058824
b'l3llff/flowers                                            \xf0\x9f\x8c\xb8 | Flowers                                    228MB  2022-04-29 20:37:05           1697         47  0.875            '
clickfb/ds-francis                                        Iris species                                     1KB  2022-02-16 09:26:57             82          3  0.5882353
jeffheaton/iris-computer-vision                           Iris Computer Vision                             5MB  2020-11-24 21:23:29            575         15  0.875
fleanend/birds-songs-numeric-dataset                      Birds' Songs Numeric Dataset                    25MB  2019-04-01 09:09:46           1051         30  0.9411765
souravbhattacharya10/irisdataset                          IrisDataset                                      1KB  2019-04-15 11:00:50            563          9  0.7647059
jeriljohnson/iris-dataset                                 Iris species Data-set                           990B  2020-02-26 11:55:08             42          3  0.3529412
himanshunakrani/iris-dataset                              iris dataset                                   1006B  2022-07-20 18:50:06             91         10  1.0
parulpandey/palmer-archipelago-antarctica-penguin-data    Palmer Archipelago (Antarctica) penguin data    11KB  2020-06-09 10:14:54          26415        222  0.9705882
ashishs0ni/iris-dataset                                   Iris_dataset                                     1KB  2018-08-05 14:26:19            666          8  0.64705884
shantanuss/iris-flower-dataset                            IRIS flower dataset                              1KB  2020-01-18 19:43:18            282          4  0.9411765
ssiddharth408/iris-flower-species-classification-dataset  Iris Flower Species Classification dataset       1KB  2022-05-28 14:25:27             24          1  1.0
mathurinache/iris-augmented                               Iris (Augmented)                                45MB  2020-10-18 19:35:25            114          4  0.9705882

In [7]:
# Download dan ekstrak dataset, secara default akan berada dalam satu direktori dengan notebook ini
!kaggle datasets download uciml/iris --unzip

Downloading iris.zip to C:\Users\ALFHA\Downloads

  0%|          | 0.00/3.60k [00:00<?, ?B/s]
100%|##########| 3.60k/3.60k [00:00<00:00, 1.84MB/s]

Atau bisa juga menggunakan link dari kaggle

# Latihan (1)

Silahkan Download sebuah dataset menggunakan API Kaggle

In [10]:
#Latihan (1)
#Langkah nya seperti contoh diatas
!kaggle datasets list -s "Herbal"

ref                                                         title                                         size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------  -------------------------------------------  -----  -------------------  -------------  ---------  ---------------
unwrangle/herbal-tea-reviews-from-amazon                    Herbal Tea Reviews from Amazon                 1MB  2021-07-08 07:15:53            136          7  0.88235295
uursinansarolu/herbal-product-sales-ecommerce-20122013      Herbal Product Sales E-Commerce 2012-2013     74KB  2021-05-30 13:09:17             97          4  1.0
mumubushimo/herbaldata                                      herbal-data                                    1GB  2022-05-20 14:05:43              2          2  0.375
b'ahmedshahriarsakib/assorted-medicine-dataset-of-bangladesh  Assorted Medicine Dataset of Bangladesh \xf0\x9f\x92\x8a\xf0\x9f\x92\x89\xf0\x9f\x8c\xbf    3MB  2022-07-24 21:18:43            228         29  1.0              '
anefiamutiaraatha/dataset-tanaman-herbal                    Dataset Tanaman Herbal                         3GB  2022-04-09 01:40:19            371          2  0.1875
plarmuseau/voynich                                          The Voynich Manuscript deciphering myth        8MB  2020-05-13 12:49:04             53          6  0.88235295
dharanireddy/herbal-plants-prediciton                       Herbal Plants Prediciton                       2MB  2021-07-07 12:20:47             15          2  0.125
rizkikecek/dataset-herbal-leaves                            Dataset Herbal Leaves                          1GB  2021-12-30 20:39:38             61          1  0.25
trientran/oriental-medicinal-herb-images                    Oriental Medicinal Herb Images               110MB  2021-09-11 04:37:09             58          2  0.75

In [11]:
#download listed dataset
!kaggle datasets download trientran/oriental-medicinal-herb-images --unzip

Downloading oriental-medicinal-herb-images.zip to C:\Users\ALFHA\Downloads

  0%|          | 0.00/110M [00:00<?, ?B/s]
  1%|          | 1.00M/110M [00:00<00:50, 2.28MB/s]
  2%|1         | 2.00M/110M [00:00<00:51, 2.19MB/s]
  4%|3         | 4.00M/110M [00:01<00:42, 2.61MB/s]
  5%|4         | 5.00M/110M [00:01<00:39, 2.78MB/s]
  5%|5         | 6.00M/110M [00:01<00:31, 3.49MB/s]
  6%|6         | 7.00M/110M [00:02<00:27, 3.87MB/s]
  7%|7         | 8.00M/110M [00:02<00:28, 3.75MB/s]
  8%|8         | 9.00M/110M [00:02<00:32, 3.25MB/s]
  9%|9         | 10.0M/110M [00:03<00:31, 3.37MB/s]
 10%|9         | 11.0M/110M [00:03<00:26, 3.97MB/s]
 11%|#         | 12.0M/110M [00:03<00:24, 4.15MB/s]
 12%|#1        | 13.0M/110M [00:03<00:23, 4.27MB/s]
 13%|#2        | 14.0M/110M [00:03<00:25, 4.02MB/s]
 14%|#3        | 15.0M/110M [00:04<00:21, 4.57MB/s]
 15%|#4        | 16.0M/110M [00:04<00:24, 3.99MB/s]
 15%|#5        | 17.0M/110M [00:05<00:32, 3.02MB/s]
 17%|#7        | 19.0M/110M [00:05<00:26, 3.63MB/s]
 18%|#8        | 20.0M/110M [00:05<00:24, 3.81MB/s]
 19%|#9        | 21.0M/110M [00:06<00:30, 3.02MB/s]
 20%|#9        | 22.0M/110M [00:06<00:24, 3.80MB/s]
 21%|##        | 23.0M/110M [00:06<00:28, 3.17MB/s]
 22%|##1       | 24.0M/110M [00:06<00:24, 3.73MB/s]
 23%|##2       | 25.0M/110M [00:07<00:25, 3.51MB/s]
 24%|##3       | 26.0M/110M [00:07<00:23, 3.82MB/s]
 24%|##4       | 27.0M/110M [00:07<00:22, 3.96MB/s]
 25%|##5       | 28.0M/110M [00:08<00:26, 3.22MB/s]
 26%|##6       | 29.0M/110M [00:08<00:24, 3.50MB/s]
 27%|##7       | 30.0M/110M [00:08<00:24, 3.37MB/s]
 28%|##8       | 31.0M/110M [00:08<00:22, 3.65MB/s]
 29%|##9       | 32.0M/110M [00:09<00:26, 3.15MB/s]
 30%|##9       | 33.0M/110M [00:09<00:22, 3.59MB/s]
 31%|###       | 34.0M/110M [00:09<00:22, 3.48MB/s]
 32%|###1      | 35.0M/110M [00:10<00:21, 3.69MB/s]
 33%|###2      | 36.0M/110M [00:10<00:21, 3.66MB/s]
 34%|###3      | 37.0M/110M [00:10<00:24, 3.20MB/s]
 34%|###4      | 38.0M/110M [00:10<00:19, 3.95MB/s]
 35%|###5      | 39.0M/110M [00:11<00:18, 4.13MB/s]
 36%|###6      | 40.0M/110M [00:11<00:24, 3.05MB/s]
 37%|###7      | 41.0M/110M [00:11<00:19, 3.77MB/s]
 38%|###8      | 42.0M/110M [00:12<00:17, 4.18MB/s]
 39%|###9      | 43.0M/110M [00:12<00:18, 3.82MB/s]
 40%|###9      | 44.0M/110M [00:12<00:17, 3.93MB/s]
 41%|####      | 45.0M/110M [00:12<00:16, 4.20MB/s]
 42%|####1     | 46.0M/110M [00:13<00:18, 3.71MB/s]
 43%|####2     | 47.0M/110M [00:13<00:17, 3.84MB/s]
 44%|####3     | 48.0M/110M [00:13<00:19, 3.43MB/s]
 44%|####4     | 49.0M/110M [00:14<00:20, 3.19MB/s]
 45%|####5     | 50.0M/110M [00:14<00:18, 3.34MB/s]
 46%|####6     | 51.0M/110M [00:14<00:16, 3.69MB/s]
 47%|####7     | 52.0M/110M [00:14<00:15, 3.90MB/s]
 48%|####8     | 53.0M/110M [00:15<00:15, 3.84MB/s]
 49%|####8     | 54.0M/110M [00:15<00:15, 3.89MB/s]
 50%|####9     | 55.0M/110M [00:15<00:14, 4.07MB/s]
 51%|#####     | 56.0M/110M [00:15<00:14, 3.84MB/s]
 52%|#####1    | 57.0M/110M [00:16<00:14, 3.98MB/s]
 53%|#####2    | 58.0M/110M [00:16<00:13, 4.09MB/s]
 54%|#####3    | 59.0M/110M [00:16<00:12, 4.19MB/s]
 54%|#####4    | 60.0M/110M [00:17<00:13, 3.99MB/s]
 55%|#####5    | 61.0M/110M [00:17<00:12, 4.15MB/s]
 56%|#####6    | 62.0M/110M [00:17<00:11, 4.22MB/s]
 57%|#####7    | 63.0M/110M [00:17<00:11, 4.36MB/s]
 58%|#####8    | 64.0M/110M [00:17<00:11, 4.12MB/s]
 59%|#####8    | 65.0M/110M [00:18<00:10, 4.49MB/s]
 60%|#####9    | 66.0M/110M [00:18<00:11, 4.03MB/s]
 61%|######    | 67.0M/110M [00:18<00:11, 4.05MB/s]
 62%|######1   | 68.0M/110M [00:18<00:10, 4.13MB/s]
 63%|######2   | 69.0M/110M [00:19<00:10, 4.07MB/s]
 64%|######3   | 70.0M/110M [00:19<00:11, 3.74MB/s]
 64%|######4   | 71.0M/110M [00:19<00:09, 4.51MB/s]
 65%|######5   | 72.0M/110M [00:20<00:10, 3.92MB/s]
 66%|######6   | 73.0M/110M [00:20<00:16, 2.32MB/s]
 67%|######7   | 74.0M/110M [00:21<00:13, 2.78MB/s]
 68%|######8   | 75.0M/110M [00:21<00:13, 2.82MB/s]
 69%|######8   | 76.0M/110M [00:21<00:10, 3.35MB/s]
 70%|######9   | 77.0M/110M [00:21<00:09, 3.74MB/s]
 71%|#######   | 78.0M/110M [00:22<00:08, 3.91MB/s]
 72%|#######1  | 79.0M/110M [00:22<00:07, 4.30MB/s]
 73%|#######2  | 80.0M/110M [00:22<00:07, 4.08MB/s]
 73%|#######3  | 81.0M/110M [00:23<00:13, 2.25MB/s]
 74%|#######4  | 82.0M/110M [00:24<00:13, 2.14MB/s]
 75%|#######5  | 83.0M/110M [00:24<00:12, 2.32MB/s]
 76%|#######6  | 84.0M/110M [00:24<00:10, 2.70MB/s]
 77%|#######7  | 85.0M/110M [00:24<00:08, 2.95MB/s]
 78%|#######8  | 86.0M/110M [00:25<00:11, 2.16MB/s]
 79%|#######8  | 87.0M/110M [00:25<00:08, 2.74MB/s]
 80%|#######9  | 88.0M/110M [00:26<00:07, 2.93MB/s]
 81%|########  | 89.0M/110M [00:26<00:06, 3.42MB/s]
 82%|########1 | 90.0M/110M [00:26<00:06, 3.03MB/s]
 83%|########2 | 91.0M/110M [00:27<00:05, 3.58MB/s]
 83%|########3 | 92.0M/110M [00:27<00:04, 3.86MB/s]
 84%|########4 | 93.0M/110M [00:27<00:04, 4.42MB/s]
 85%|########5 | 94.0M/110M [00:27<00:04, 4.21MB/s]
 86%|########6 | 95.0M/110M [00:27<00:03, 4.30MB/s]
 87%|########7 | 96.0M/110M [00:28<00:04, 3.62MB/s]
 88%|########8 | 97.0M/110M [00:28<00:03, 4.08MB/s]
 89%|########8 | 98.0M/110M [00:28<00:02, 4.40MB/s]
 90%|########9 | 99.0M/110M [00:28<00:02, 4.39MB/s]
 91%|######### | 100M/110M [00:29<00:02, 4.00MB/s]
 92%|#########1| 101M/110M [00:29<00:02, 4.15MB/s]
 93%|#########2| 102M/110M [00:29<00:02, 4.17MB/s]
 93%|#########3| 103M/110M [00:29<00:01, 4.34MB/s]
 94%|#########4| 104M/110M [00:30<00:01, 3.83MB/s]
 95%|#########5| 105M/110M [00:30<00:01, 3.94MB/s]
 96%|#########6| 106M/110M [00:30<00:01, 4.06MB/s]
 97%|#########7| 107M/110M [00:30<00:00, 4.40MB/s]
 98%|#########7| 108M/110M [00:31<00:00, 4.06MB/s]
 99%|#########8| 109M/110M [00:31<00:00, 3.63MB/s]
100%|#########9| 110M/110M [00:31<00:00, 4.20MB/s]
100%|##########| 110M/110M [00:31<00:00, 3.62MB/s]

### PENGGUNAAN LIBRARY PANDAS dan NUMPY

Pada materi ini, peserta sudah mendapatkan pemahaman mengenai data dan dataset. Penggunaan library pada Python memberikan kemudahan dalam proses data understanding. Beberapa library yang digunakan adalah library Pandas dan Numpy.

# Latihan (2)

Lakukan import Library Pandas dan Library Numpy

In [12]:
#Latihan(2)
#Import Library Pandas
import pandas as pd
#Import Library Numpy
import numpy as np

### DATAFRAME

DataFrame adalah struktur data 2 dimensi yang berbentuk tabular (mempunyai baris dan kolom). Hampir semua data tidak hanya memiliki 1 kolom tetapi lebih dari 1 kolom, sehingga lebih cocok menggunakan pandas DataFrame untuk mengolahnya.

Penggunaan dataframe pada Python dengan menggunakan syntaks: df.

# Latihan (3)

Panggil file (load dataset) dengan format .csv untuk dataset mengenai bunga Iris yang sudah peserta unduh dari Kaggle, dan akan disimpan di dalam dataframe df. Lalu tampilkan 5 baris awal dataset dengan function head()

In [13]:
#latihan(3)
#Panggil file (load file bernama Iris.csv) dan simpan dalam dataframe Lalu tampilkan 5 baris awal dataset dengan function head()
df = pd.read_csv("C:/Users/ALFHA/Downloads/iris.csv");
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Telaah Data

Pada telaah data, dapat dilakukan untuk mengetahui:
- tipe data dari setiap kolom
- deskripsi statistik data

# Latihan (4)

Tampilkan tipe data dari kolom yang ada pada dataset

In [18]:
#latihan(4)
#Tampilkan tipe data dari kolom yang ada pada dataset
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

# Latihan (5)

Apakah tipe Data dari kolom berikut ini: (silakan diisi pada cell di bawah ini)

In [ ]:
#Latihan (5)
#Tipe Data dari kolom yang ada di dataset

#Kolom  "Id" memiliki tipe data =  nominal
#Kolom "SepalLengthCm" memiliki tipe data =  rasio
#Kolom "Species" memiliki tipe data =  nominal

# Latihan (6)

Hitunglah ukuran (jumlah baris dan kolom) dari dataset. Dengan menggunakan method function

In [19]:
#Latihan (6)
#Hitung ukuran (jumlah baris dan kolom) dari dataset
row, col = df.shape
print("row = ", row)
print("col = ", col)

row =  150
col =  6

# Latihan (7)

Berapakah jumlah baris, dan jumlah kolom pada dataset? (silakan diisi pada cell di bawah ini)

In [20]:
#Latihan (7)
#Jumlah Baris pada dataset adalah =  150
#Jumlah kolom pada dataset adalah =  6

# Latihan (8)

Tampilkan data yang hanya berisi kolom "Id" dan kolom "Species" dalam bentuk dataframe.

In [21]:
#Latihan (8)
#Tampilkan data untuk kolom "Id" dan kolom "Species" dalam bentuk dataframe
df[["Id", "Species"]]

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

# Latihan (9)

Tampilkan data dengan dataframe, dan data yang ditampilkan adalah data pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

In [51]:
#Latihan (9)
#Tampilkan data dengan dataframe, dan data yang ditampilkan adalah baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)
df[0:9]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa

# Latihan (10)

Tampilkan data hanya kolom "Id" dan kolom "Species" dengan dataframe, dan yang ditampilkan adalah data pada baris dengan indeks 11 (sebelas) sampai dengan indeks 15 (limabelas)

In [25]:
#Latihan (10)
#Tampilkan data hanya kolom "Id" dan kolom "Species", pada baris dengan indeks 11 (sebelas) sampai dengan indeks 15 (limabelas)
df[["Id", "Species"]][11:16]

    Id      Species
11  12  Iris-setosa
12  13  Iris-setosa
13  14  Iris-setosa
14  15  Iris-setosa
15  16  Iris-setosa

# Latihan (11)

Pada DataFrame dapat menampilkan beberapa baris pertama/terakhir dari dataset yang di load. Gunakan Method head() dan tail().

Latihan: Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe.

In [26]:
#Latihan (11)
#Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe
df.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

# Latihan (12)

Tampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe.

In [27]:
#Latihan (12)
#Tampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe
df.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Deskripsi Statistik Data

DataFrame method describe() menampilkan statistik dasar setiap kolom data yang bertipe numerik, mencakup banyaknya data (count), rerata aritmetik (mean), simpangan baku (std), nilai terkecil (min), kuartil pertama (25%), kuartil kedua/median (50%), kuartil ketiga (75%), dan nilai terbesar (max).

# Latihan (13)

Hitung korelasi dari dataset. Dengan menggunakan method function

In [28]:
#Latihan (13)
#Hitung korelasi dataset
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

# Latihan (14)

Berdasarkan pada perhitungan korelasi di Latihan (11), apakah yang dapat Bapak/Ibu simpulkan sementara? Silakan tuliskan simpulan sementara Bapak/Ibu pada cell di bawah ini.

In [ ]:
#latihan (14)
# Untuk Simpulan Sementara Hasil Korelasi di latihan (13)
# artinya hubungan antara daun dan bunga pada irish jika positif maka panjang bunga akan semakin panjang ketika daun semakin panjang
# dan jika negatif maka sebaliknya

# Latihan (15)

Hitung korelasi untuk kolom berikut ini: PetalLengthCm, PetalWidthCm

In [29]:
#Latihan (15)
#Hitung korelasi dataset untuk kolom PetalLengthCm, PetalWidthCm
df[['PetalLengthCm','PetalWidthCm']].corr()

               PetalLengthCm  PetalWidthCm
PetalLengthCm       1.000000      0.962757
PetalWidthCm        0.962757      1.000000

# Latihan (16)

Method "describe" secara otomatis melakukan komputasi statistik untuk semua continous variable. Secara default "describe" melakukan ignore terhadap variabel bertype objek.

Komputasi statistik yang dilakukan terdiri dari: count, mean, std, min, max, 25%, 75%, max.

Latihan: Gunakan method describe pada dataset yang sudah di load untuk semua continous variabel. (Dataset Iris.csv)

In [30]:
#Latihan (16)
# Penggunaan Metode describe untuk komputasi statistik
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Latihan (17)

Gunakan method describe pada dataset yang sudah di load untuk data bertype objek. (Dataset Iris.csv)

In [31]:
#Latihan (17)
#Gunakan method describe pada dataset yang sudah di load untuk data bertype objek
df['Species'].describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: Species, dtype: object

# Latihan 18

Gunakan method describe pada dataset yang sudah di load untuk semua type data (continous variabel dan type object).

In [32]:
#Latihan (18)
#Gunakan method describe pada dataset yang sudah di load untuk semua type data
df.describe(include='all')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,75.500000,5.843333,3.054000,3.758667,1.198667,NaN
std,43.445368,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,38.250000,5.100000,2.800000,1.600000,0.300000,NaN
50%,75.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,112.750000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

# Latihan (19)

Hitunglah nilai mean dari dataset.

In [34]:
#Latihan (19)
#Hitung nilai Mean dari dataset
df.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

# Latihan (20)

Hitung nilai mean dari dataset untuk kolom PetalLengthCm.

In [35]:
#Latihan (20)
#Hitung nilai Mean untuk kolom PetalLengthCm
df['PetalLengthCm'].mean()

3.7586666666666693

# Latihan (21)

Carilah nilai minimal dari dataset untuk kolom SepalWidthCm.

In [36]:
#Latihan (21)
#Cari nilai minimal untuk kolom SepalWidthCm
df['SepalWidthCm'].mean()

3.0540000000000007

# Method Groupby

Method groupby memungkinkan analisis dilakukan secara per kelompok nilai atribut tertentu.

# Latihan (22)

Hitunglah nilai mean dari dataset untuk kolom SepalLengthCm per Species dengan menggunakan metode groupby.

In [37]:
#Latihan (22)
#Hitung nilai mean dari dataset untuk SepalLengthCm per Species dengan metode groupby
df.groupby(["Species"])['SepalLengthCm'].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

# Method Value Count

value_counts() menghasilkan frekuensi setiap nilai unik di dalam kolom, dan yang tertinggi count-nya adalah merupakan modus pada kolom tersebut.

# Latihan (23)

Hitunglah frekuensi pada kolom 'Species' dengan menggunakan metode value_counts().

In [38]:
#Latihan (23)
#Hitung frekuensi pada kolom 'Species' dengan menggunakan metode value_counts()
df['Species'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

# Latihan (24)

Tampilkan perhitungan frekuensi pada kolom 'Species' dengan menggunakan metode value_counts() dalam bentuk dataframe.

In [39]:
#Latihan (24)
#Perhitungan frekuensi pada kolom 'Species' dengan menggunakan metode value_counts() dalam bentuk dataframe
df2 = df['Species'].value_counts()
pd.DataFrame(data=df2)

                 Species
Iris-setosa           50
Iris-virginica        50
Iris-versicolor       50

# Latihan (25)

Hitunglah frekuensi pada kolom 'PetalLenghCm' dengan menggunakan metode value_counts() dan dalam bentuk dataframe.

In [40]:
#Latihan (25)
# Hitung frekuensi pada kolom 'PetalLenghCm' dengan menggunakan metode value_counts()
df['PetalLengthCm'].value_counts()

1.5    14
1.4    12
5.1     8
4.5     8
1.3     7
1.6     7
5.6     6
4.0     5
4.9     5
4.7     5
4.8     4
1.7     4
4.4     4
4.2     4
5.0     4
4.1     3
5.5     3
4.6     3
6.1     3
5.7     3
3.9     3
5.8     3
1.2     2
1.9     2
6.7     2
3.5     2
5.9     2
6.0     2
5.4     2
5.3     2
3.3     2
4.3     2
5.2     2
6.3     1
1.1     1
6.4     1
3.6     1
3.7     1
3.0     1
3.8     1
6.6     1
6.9     1
1.0     1
Name: PetalLengthCm, dtype: int64